<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style type="text/css">
      img {
        width: auto;
        max-width: 200px;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <h1>{% block body_title %}{% endblock %}</h1>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <main>
      <a href="{% url 'recipe:home' %}">Home</a>
      {% block content %}
      {% endblock content %}
      <a href="{% url 'recipe:home' %}">Home</a>
    </main>
  
  </div>

  </body>
</html>