{% extends 'base.html' %}

{% block page_title %}Recipes{% endblock %}

{% block body_title %}Recipes{% endblock %}


{% block content %}

  {% if recipe_list %}

    <ul>
      {% for recipe in recipe_list %}
        <li>
          <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
          <td><a href="{% url 'recipe:recipe_delete' recipe.id %}">Delete</a></td>
        </li>
      {% endfor %}
    </ul>

  {% else %}

    <p>There are no recipes to display.</p>

  {% endif %}

  <p>
    <a href="{% url 'recipe:recipe_create' %}">Add a recipe</a>
  </p>

{% endblock content %}