{% extends 'base.html' %}

{% block scripts %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      $("#add").click(function() {
        return addForm(this, 'form');
      });
    });
  </script>
{% endblock %}

{% load crispy_forms_tags %}

{% block page_title %}Editing {{ tag.name }}{% endblock %}

{% block body_title %}Editing <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% endblock %}


{% block content %}
  <form action="" method="post" enctype="multipart/form-data">

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ form.management_form }}
    {{ form.non_form_errors }}

    {% for recipe_form in form.forms %}
      <div class="item">

      <h2>
        {% if recipe_form.recipe.value %}
          Recipe </h2>
        {% else %}
          {% if form.forms|length > 1 %}
            Add another recipe
          {% else %}
            Add a recip
          {% endif %}
        {% endif %}
      </h2>

      {% for hidden_field in step_form.hidden_fields %}
        {{ hidden_field.errors }}
      {% endfor %}

      {{ recipe_form|crispy }}

    </div>


    {% endfor %}

    <p><a id="add" href="#">Add another item</a></p>

    <p>
      <input type="submit" value="Update recipes">
      &nbsp; &nbsp;
      <a href="{{ recipe.get_absolute_url  }}">Cancel</a>
    </p>
  </form>

{% endblock content %}

