{% extends 'base.html' %}



{% block page_title %}{{ recipe.name }}{% endblock %}

{% block body_title %}{{ recipe.name }}{% endblock %}


{% block content %}
  <a href="{% url 'recipe:recipe_list' %}">All recipes</a>

  {% if recipe.to_display %}

    <div>This recipe <em>will</em> be displayed in the playlists</div>

  {% else %}

    <div>This recipe <em>won't</em> be displayed in the playlists</div>

  {% endif %}

  {% if recipe.absolute_picture %}

    <img src="{{ recipe.absolute_picture }}" >

  {% endif %}

  <h2>Overview</h2>

  <a href="{% url 'recipe:recipe_update' recipe.id %}">Update recipe</a>

    <table>
      <thead>
        <tr>
          <th>Preparation time</th>
          <th>Cooking time</th>
          <th>Difficulty level</th>
          <th>Budget level</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ recipe.preparation_time }} minutes</td>
          <td>{{ recipe.cooking_time }} minutes</td>
          <td>{{ recipe.difficulty_level.name }}</td>
          <td>{{ recipe.budget_level.name }}</td>
          <td> {% for tag in recipe.tag_displayed.all %}
              {{ tag.name }},
              {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>


  <h2>Steps</h2>

  <a href="{% url 'recipe:recipe_update_steps' recipe.id %}">Update steps</a>

  {% if recipe.steps.all %}

    <table>
      <thead>
        <tr>
          <th>Step number</th>
          <th>Description</th>
          <th>Picture</th>
        </tr>
      </thead>
      <tbody>
        {% for step in recipe.steps.all %}
          <tr>
            <td>{{ step.step_number }}</td>
            <td>{{ step.description }}</td>
            <td> <img src="{{ step.absolute_picture }}""> </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}

    <p>This recipe has no steps.</p>

  {% endif %}

  <h2>Ingredients</h2>

  <a href="{% url 'recipe:recipe_update_ingredients' recipe.id %}">Update ingredients</a>

  {% if recipe.ingredients.all %}

    <table>
      <thead>
        <tr>
          <th>Quantity for one person</th>
          <th>Unit</th>
          <th>Ingredient</th>
          <th>Picture</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in recipe.ingredients.all %}
          <tr>
            <td>{{ ingredient.quantity }}</td>
            <td>{{ ingredient.unit_of_ingredient.unit.name }}</td>
            <td>{{ ingredient.unit_of_ingredient.ingredient.name }}</td>
            <td> <img src="{{ ingredient.unit_of_ingredient.ingredient.absolute_picture }}" > </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}

    <p>This recipe has no ingredients.</p>

  {% endif %}

  <h2>Ustensils</h2>

  {% if recipe.ustensil_in_recipe.all %}

    <table>
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Ustensil</th>
          <th>Picture</th>
        </tr>
      </thead>
      <tbody>
        {% for ustensil in recipe.ustensil_in_recipe.all %}
          <tr>
            <td>{{ ustensil.quantity }}</td>
            <td>{{ ustensil.ustensil.name }}</td>
            
            <td> <img src="{{ ustensil.ustensil.absolute_picture }}" > </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}

    <p>This recipe has no ustensils.</p>

  {% endif %}

  <h2>Nutritional properties for one person</h2>

  <a href="{% url 'recipe:recipe_update_nutri' recipe.id %}">Update nutritional properties</a>

  {% if recipe.nutritional_properties.all %}

    <table>
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Property</th>
        </tr>
      </thead>
      <tbody>
        {% for nutritional_property in recipe.nutritional_properties.all %}
          <tr>
            <td>{{ nutritional_property.quantity }}</td>
            <td>{{ nutritional_property.unit_of_nutritional_property.name }}</td>
            <td>{{ nutritional_property.nutritional_property.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}

    <p>This recipe has no nutritional properties.</p>

  {% endif %}

  <p>
    <a href="{% url 'recipe:recipe_delete' recipe.id %}">Delete recipe</a>
  </p>

{% endblock content %}