{% extends 'base.html' %}

{% block scripts %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      $("#add").click(function() {
        return addForm(this, 'form');
      });

      // $("#delete").click(function() {
      //   return deleteForm(this, 'form');
      // });
    });
  </script>
{% endblock %}

{% load crispy_forms_tags %}

{% block page_title %}Editing {{ recipe.name }}{% endblock %}

{% block body_title %}Editing <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>{% endblock %}


{% block content %}
  <form action="" method="post" enctype="multipart/form-data">

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ form.management_form }}
    {{ form.non_form_errors }}

    {% for ingredient_form in form.forms %}
      <div class="item">

      <h2>
        {% if ingredient_form.ingredient.value %}
          Ingredient</h2>
        {% else %}
          {% if form.forms|length > 1 %}
            Add another ingredient
          {% else %}
            Add an ingredient
          {% endif %}
        {% endif %}
      </h2>

      {% for hidden_field in step_form.hidden_fields %}
        {{ hidden_field.errors }}
      {% endfor %}

      <div class="form-row">
        <div class="form-group col-md-2 mb-0">
          {{ ingredient_form.quantity|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ ingredient_form.unit|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ ingredient_form.ingredient|as_crispy_field }}
        </div>
      </div>    
    </div>


    {% endfor %}

    <p><a id="add" href="#">Add another item</a></p>

    <p>
      <input type="submit" value="Update ingredients">
      &nbsp; &nbsp;
      <a href="{{ recipe.get_absolute_url  }}">Cancel</a>
    </p>
  </form>

{% endblock content %}

