{% extends 'base.html' %}

{% block page_title %}Recipes{% endblock %}

{% block body_title %}Recipes{% endblock %}


{% block content %}
  <p>
    <a href="{% url 'recipe:recipe_create' %}">Add a recipe</a>
  </p>

  {% if recipe_list %}
    <h2> Recipes displayed</h2>
    <ul>
      {% for recipe in recipe_list %}
        {% if recipe.to_display %}
          <li>
            <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <h2> Recipes not displayed</h2>
    <ul>
      {% for recipe in recipe_list %}
        {% if not recipe.to_display %}
          <li>
            <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

  {% else %}

    <p>There are no recipes to display.</p>

  {% endif %}

  <p>
    <a href="{% url 'recipe:recipe_create' %}">Add a recipe</a>
  </p>

{% endblock content %}