{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Adding a product for {{ ingredient.name }} {% endblock %}

{% block body_title %}Adding a product for <a href="{{ ingredient.get_absolute_url }}">{{ ingredient.name }}</a> {% endblock %}


{% block content %}
  <form action="" method="post" enctype="multipart/form-data">

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ form.non_form_errors }}

    {{ form|crispy }}

    <p>
      <input type="submit" value="Add product">
      &nbsp; &nbsp;
      <input class="btn btn-link" 
      type="button" value="Cancel" 
      onclick="window.history.go(-1);"/>
    </p>
  </form>

{% endblock content %}