{% extends 'base.html' %}

{% block scripts %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      $("#add").click(function() {
        return addForm(this, 'form');
      });

      $("#delete").click(function() {
        return deleteForm(this, 'form');
      });
    });
  </script>
{% endblock %}

{% load crispy_forms_tags %}

{% block page_title %}Adding a product for {{ ingredient.name }} {% endblock %}

{% block body_title %}Adding a product for <a href="{{ ingredient.get_absolute_url }}">{{ ingredient.name }}</a> {% endblock %}


{% block content %}
  <form action="" method="post" enctype="multipart/form-data">

    {% for hidden_field in forms.0.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ forms.0.non_form_errors }}

      <div class="form-row">
          <div class="form-group col-md-8 mb-0">
            {{ forms.0.name|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ forms.0.picture|as_crispy_field }}
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ forms.0.quantity|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ forms.0.unit|as_crispy_field }}
          </div>
      </div>

    <hr/>

    {% for hidden_field in forms.1.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ forms.1.management_form }}
    {{ forms.1.non_form_errors }}

    {% for product_price_form in forms.1.forms %}
      <div class="item">

          <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                {{ product_price_form.price|as_crispy_field }}
              </div>
              <div class="form-group col-md-6 mb-0">
                {{ product_price_form.shop|as_crispy_field }}
              </div>
            </div>
            {{ product_price_form.DELETE|as_crispy_field }}  
            
      <hr/>

     </div>


    {% endfor %}

    <p><a id="add" href="#">Add another item</a></p>

    <p>
      <input type="submit" value="Add product">
      &nbsp; &nbsp;
      <input class="btn btn-link" 
      type="button" value="Cancel" 
      onclick="window.history.go(-1);"/>
    </p>
  </form>

{% endblock content %}