{% extends 'base.html' %}



{% block page_title %}{{ ingredient.name }}{% endblock %}

{% block body_title %}{{ ingredient.name }}{% endblock %}


{% block content %}

<p>
    <a href="{% url 'recipe:ingredient_list' %}">All ingredients</a>
</p>

  <div><a href="{% url 'recipe:ingredient_update' ingredient.id %}">Update ingredient</a></div>

  {% if ingredient.absolute_picture %}

  <img src="{{ ingredient.absolute_picture }}" >

  {% endif %}

  {% if ingredient.products %}

  <h2> Products </h2>

  <ul>
    {% for product in ingredient.products %}
      <li>
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Picture</th>
                <th>Price</th>
                <th>Shop</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>  
                    <a href="{{ product.get_absolute_url }}"> {{ product.name }}
                  </td> 
                  <td> <img src="{{ product.absolute_picture }}"> </td>
                  <td>
                      {% for price in product.prices.all %}
                      {{ price.price }} <br>
                      {% endfor %}
                  </td>
                  <td>                       
                    {% for price in product.prices.all %}
                      {{ price.shop }} <br>
                    {% endfor %}
                  </td>
                  <td><a href="{% url 'shop:product_delete' product.id %}">Delete product</a> </td>
                </tr>
            </tbody>
          </table>
      </li>
    {% endfor %}
  </ul>


  {% else %}

  <h2> There are no available products for this ingredient </h2>

  {% endif %}

  <p>
      <a href="{% url 'shop:product_create' %}">Add a product</a>
  </p>

  <p>
    <a href="{% url 'recipe:ingredient_delete' ingredient.id %}">Delete ingredient</a>
  </p>

{% endblock content %}