{% extends 'base.html' %}



{% block page_title %}{{ ingredient.name }}{% endblock %}

{% block body_title %}{{ ingredient.name }}{% endblock %}


{% block content %}

<p>
    <a href="{% url 'recipe:ingredient_list' %}">All ingredients</a>
</p>

  <div><a href="{% url 'recipe:ingredient_update' ingredient.id %}">Update ingredient</a></div>

  {% if ingredient.absolute_picture %}

  <img src="{{ ingredient.absolute_picture }}" >

  {% endif %}

  <p>
    <a href="{% url 'recipe:ingredient_delete' ingredient.id %}">Delete ingredient</a>
  </p>

{% endblock content %}